---
attributes:
  cards_per_row:
    group: layout
    label: Number of experiences per row
    type: range
    min: 1
    max: 3
    step: 1
    default: 3
    unit: experiences
  Show_Experiences_In_A_Swiper:
    group: layout
    label: Display experiences in a carousel
    type: Boolean
  Center_Incomplete_Rows:
    group: layout
    label: Align experience cards to the centre
    type: Boolean
  Background_Image:
    group: design
    label: Background image
    hint: Recommended minimum width 1920px.
    type: Image
  Mobile_Background_Image:
    type: image
    label: Mobile background image
    hint: Override background image on mobiles and tablets. Recommended minimum width 960px.
    group: mobile
  Background_Color:
    group: design
    label: Background colour
    type: color
  Text_Color:
    group: design
    label: Text colour
    type: color
    default:
      palette: body-color
  Card_Background_Image:
    group: design
    label: Experience card background image
    hint: Recommended minimum width 720px.
    type: Image
  Card_Background_Color:
    group: design
    label: Experience card background colour
    type: color
    default:
      palette: secondary
  Card_Text_Color:
    group: design
    label: Experience card text colour
    type: color
    default:
      palette: body-color
  Card_Button_Color:
    group: design
    label: Experience card button colour
    type: color
    default:
      palette: primary
  Header:
    group: content
    label: Header
    type: String
    default: Upcoming Experiences
  Text:
    group: content
    label: Text
    type: Text
    default: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
  Show_Button:
    group: content
    label: Display button
    type: Boolean
    default: true
  Button_Text:
    group: content
    label: Button text
    type: String
    default: LEARN MORE
  Button_Link:
    group: content
    label: Button link
    type: link
  Show_Dates:
    group: content
    label: Display experience dates
    type: Boolean
    default: true
  Show_City:
    group: content
    label: Display experience city
    type: Boolean
    default: true
  Show_Country:
    group: content
    label: Display experience country
    type: Boolean
    default: true
  Show_Duration:
    group: content
    label: Display experience duration
    type: Boolean
    default: true
  Show_Card_Book_Button:
    group: content
    label: Display book buttons on cards
    type: Boolean
    default: true
  Show_Card_Info_Button:
    group: content
    label: Display info buttons on cards
    type: Boolean
    default: true
  Override_Enquire_Button_Text:
    group: content
    label: Customise 'enquire' button text
    hint: For experiences that have [enquiry only](/admin/link/enquiry-only) enabled.
    default: ENQUIRE
    type: String
  padding_top:
    group: design
    label: Block padding top
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
  padding_bottom:
    group: design
    label: Block padding bottom
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
---

<style>
  #{{ block.id }} .products-pagination a {
    color: inherit;
  }

  #{{ block.id }} .block-container {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if Background_Image %}
      background-image: url('{{ Background_Image.xxlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
    {% if Background_Color %}
      background-color: {{ Background_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .block-intro-button .hover-arrow-right {
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .swiper-pag {
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .block-intro-button .hover-arrow-right svg circle,
  #{{ block.id }} .block-intro-button .hover-arrow-right svg path,
  #{{ block.id }} .swiper-prev svg circle,
  #{{ block.id }} .swiper-prev svg path,
  #{{ block.id }} .swiper-next svg circle,
  #{{ block.id }} .swiper-next svg path {
    {% if Text_Color %}
      stroke: {{ Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .product-card .button-primary-outline {
    {% if Card_Button_Color %}
      color: {{ Card_Button_Color.hex }} !important;
      border: solid 1px {{ Card_Button_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .product-card .button-primary-solid {
    {% if Card_Background_Color %}
      color: {{ Card_Background_Color.hex }} !important;
    {% endif %}
    {% if Card_Button_Color %}
      border: solid 1px {{ Card_Button_Color.hex }} !important;
      background-color: {{ Card_Button_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .product-card .button {
    width: 50%;
    padding: 1em;
    {% if Show_Card_Book_Button %}
      text-align: center;
    {% else %}
      text-align: left;
      padding-left: 0;
    {% endif %}
  }

  #{{ block.id }} .product-card-inner {
    {% if Card_Background_Image %}
      background-image: url('{{ Card_Background_Image.xlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Card_Text_Color %}
      color: {{ Card_Text_Color.hex }};
    {% endif %}
    {% if Card_Background_Color %}
      background-color: {{ Card_Background_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .product-card .hover-arrow-right {
    {% if Card_Button_Color %}
      color: {{ Card_Button_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .product-card .hover-arrow-right svg circle,
  #{{ block.id }} .product-card .hover-arrow-right svg path {
    {% if Card_Button_Color %}
      stroke: {{ Card_Button_Color.hex }};
    {% endif %}
  }

  {% if Mobile_Background_Image %}
    @media (max-width: 767px) {      
      #{{ block.id }} .block-container {
        background-image: url('{{ Mobile_Background_Image.large_url }}');
      }
    }
  {% endif %}
</style>

{% product_search page_size: 36, departure_date: { greater_or_equal_than: 'now' }, sort: 'departure_date_asc' %}
  <section class="block-container products-all-upcoming {{ cards_per_row }}">
    <div class="container">
      {% if Header %}
        <h2 class="text-center {% if Text or Show_Button %}mb-4{% else %}mb-5{% endif %}">
          {{ Header }}
        </h2>
      {% endif %}

      {% if Text %}
        <div class="{% if Show_Button %}mb-4{% else %}mb-5{% endif %} text-center max-width-med mx-auto text-field">
          {{ Text }}
        </div>
      {% endif %}

      {% if Show_Button %}
        <div class="mb-5 block-intro-button">
          <a class="text-center d-flex align-items-center justify-content-center button hover-arrow-right"
            href="{{ Button_Link.url }}">
            <span class="mr-2">
              {{ Button_Text }}
            </span>

            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="15" cy="15" r="14.5" />
              <path d="M13.5 10.5L17.5 15.25L13.5 20" />
            </svg>
          </a>
        </div>
      {% endif %}

      <div class="d-flex justify-content-center mb-3">
        <p class="label-small-uppercase products-pagination">
          {{ paginate | default_pagination }}
        </p>
      </div>

      {% if Show_Experiences_In_A_Swiper %}
        <div class="swiper-controls align-items-center justify-content-center mb-5 d-flex">
          <div class="swiper-prev all-product-swiper-prev cursor-pointer">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.5" transform="rotate(-180 20 20)" />
              <path d="M22 26.6667L16.6667 20.3333L22 14" />
            </svg>
          </div>

          <div class="swiper-pag all-product-swiper-pagination text-center label-big w-auto px-4"></div>

          <div class="swiper-next all-product-swiper-next cursor-pointer">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20" r="19.5" />
              <path d="M18 14L23.3333 20.3333L18 26.6667" />
            </svg>
          </div>
        </div>
      {% endif %}

      <div class="{% if Show_Experiences_In_A_Swiper %}all-product-swiper-container swiper-container{% endif %}">
        <div class="{% if Show_Experiences_In_A_Swiper %}swiper-wrapper{% else %}row{% endif %} {% if Center_Incomplete_Rows and  Show_Experiences_In_A_Swiper == false %}justify-content-center{% endif %}">
          {% for product in result.items %}
            {% assign has_promotion = false %}
            {% assign deposit_active = false %}

            {% if product.dates %}
              {% assign dates_string = product.dates %}
            {% else %}
              {% assign dates_string = false %}
            {% endif %}

            {% assign featured_variant = product.featured_variant %}
            {% assign full_price = featured_variant.price.per_person_fractional | money: no_cents_if_whole: true %}

            {% if featured_variant.promotion.active %}
              {% assign has_promotion = true %}
              {% assign promo_tagline = featured_variant.promotion.tagline %}
              {% assign promo_price_drop = featured_variant.price | apply_promotion: featured_variant.promotion %}
              {% assign promo_price = promo_price_drop.per_person_fractional | money: no_cents_if_whole: true %}
              {% assign cheapest_price = promo_price_drop.per_person_fractional %}
            {% else %}
              {% assign cheapest_price = featured_variant.price.per_person_fractional %}
            {% endif %}

            {% if product.deposit.enabled and product.type != 'accommodation' and cheapest_price != 0 and product.sold_out == false %}
              {% assign deposit_active = true %}
              {% assign deposit_rate = product.deposit.rate %}
              {% assign deposit_price = cheapest_price | times: deposit_rate | money: no_cents_if_whole: true %}
            {% endif %}

            {% if product.type == "experience" %}
              {% capture unit %}
                <sub>/pp</sub>
              {% endcapture %}
            {% else %}
              {% capture unit %}
                <sub>/night</sub>
              {% endcapture %}
            {% endif %}
        
            {% if featured_variant == blank %}
              {% capture price_string %}
                Coming soon
              {% endcapture %}
            {% elsif has_promotion %}
              {% capture price_string %}
                <span class="label-small pr-2">FROM</span>{{ promo_price }}{{ unit }}<span class="label-small"> <del class="text-danger">{{ full_price }}{{ unit }}</del></span>
              {% endcapture %}
            {% elsif cheapest_price == 0 %}
              {% capture price_string %}Free{% endcapture %}
            {% else %}
              {% capture price_string %}
                <span class="label-small pr-2">FROM</span>{{ full_price }}{{ unit }}
              {% endcapture %}
            {% endif %}

            <div class="{% if Show_Experiences_In_A_Swiper %}swiper-slide h-auto{% elsif cards_per_row == '1' %}col-12{% elsif cards_per_row == '2' %}col-md-6{% else %}col-md-6 col-lg-4{% endif %} mb-4">
              <div class="product-card{% if cards_per_row == '1' %} row mx-0{% else %} h-100 d-flex flex-column{% endif %}">
                <div class="img-aspect img-aspect-wide {% if cards_per_row == '1' %}col-md-6 px-0{% endif %}">
                  <img src="{{ product.hero_image.small_url }}" alt="{{ product.name }}" />
                </div>

                <div class="position-absolute p-4">
                  <div class="d-flex flex-wrap">
                    {% if has_promotion %}
                      <p class="label-small label-banner banner-promo mb-2 mr-2">
                        {{ promo_tagline }}
                      </p>
                    {% endif %}

                    {% assign stock = product.remaining_stock | plus: 0 %}

                    {% if stock < 10 and stock !=0 and product.sold_out==false %}
                      <p class="label-small label-banner banner-limited mb-2 mr-2">
                        {{ stock }} SPOT{% if stock > 1 %}S{% endif %} LEFT
                      </p>
                    {% endif %}

                    {% if deposit_active %}
                      <p class="label-small label-banner banner-deposit mb-2">
                        PAY ONLY {{ deposit_price }}{{ unit }} DEPOSIT
                      </p>
                    {% endif %}
                  </div>
                </div>

                <div class="product-card-inner {% if cards_per_row == '1' %}col-md-6 justify-content-center px-lg-5{% else %}justify-content-between{% endif %} bg-secondary text-body-color p-4 flex-grow-1 d-flex flex-column">
                  <div>
                    <p class="mb-2 label-small-uppercase">
                      {% if product.address.city and Show_City %}{{ product.product.address.city }}{% endif %}
                      {% if product.address.city and Show_City and product.country and Show_Country %}, {% endif %}
                      {% if product.country and Show_Country %}{{ product.country }}{% endif %}
                    </p>

                    <p class="mb-3 label-small-uppercase">
                      {% if dates_string and Show_Dates %}
                        <span>
                          {{ dates_string }}
                        </span>

                        {% if product.duration and Show_Duration and dates_string and Show_Dates %}
                          <span class="px-3">
                            &#183;
                          </span>
                        {% endif %}
                      {% endif %}

                      {% if product.duration and Show_Duration %}
                        <span>
                          {{ product.duration }}
                        </span>
                      {% endif %}
                    </p>

                    {% if cards_per_row == 1 %}
                      <h3 class="mb-3 product-name">
                        {{ product.name }}
                      </h3>
                    {% else %}
                      <h4 class="mb-3 product-name">
                        {{ product.name }}
                      </h4>
                    {% endif %}

                    <p class="mb-3 text-small">
                      {{ product.tagline }}
                    </p>
                  </div>

                  <div>
                    <p class="label-big mb-3">
                      {{ price_string }}
                    </p>

                    <div class="d-flex justify-content-between align-items-center">
                      {% if Show_Card_Book_Button %}
                        {% if product.enquire_only %}
                          <a class="button button-primary-outline cursor-pointer" onclick="openPopupSignup()">
                            {% if Override_Enquire_Button_Text %}
                              {{ Override_Enquire_Button_Text }}
                            {% else %}
                              ENQUIRE
                            {% endif %}
                          </a>
                        {% elsif product.min_price contains "Announcing" %}
                          <a class="button button-primary-solid button-disabled">
                            COMING SOON
                          </a>
                        {% elsif product.sold_out %}
                          <a class="button button-primary-solid button-disabled">
                            SOLD OUT
                          </a>
                        {% else %}
                          <a class="button button-primary-solid" href="{{ product.shop_path }}">
                            BOOK
                          </a>
                        {% endif %}
                      {% endif %}

                      {% if Show_Card_Info_Button %}
                        <a class="button hover-arrow-right" href="{{ product.url }}">
                          <span class="mr-2">
                            INFO
                          </span>

                          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14.5" />
                            <path d="M13.5 10.5L17.5 15.25L13.5 20" />
                          </svg>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endproduct_search %}

{% if Show_Experiences_In_A_Swiper %}
  <script>
    var initSwiperAllExp{{ block_id | remove: 'block-' }} = () => {
      if(window.swiperAllExp{{ block_id | remove: 'block-' }}) window.swiperAllExp{{ block_id | remove: 'block-' }}.destroy()

      window.swiperAllExp{{ block_id | remove: 'block-' }} = new Swiper('#{{ block.id }} .swiper-container', {
        slidesPerView: 1,
        spaceBetween: 20,
        updateOnWindowResize: true,
        centerInsufficientSlides: true,
        simulateTouch: false,
        pagination: {
          el: '#{{ block.id }} .swiper-pag',
          type: 'fraction',
        },
        navigation: {
          nextEl: '#{{ block.id }} .swiper-next',
          prevEl: '#{{ block.id }} .swiper-prev',
        },
        breakpoints: {
          {% unless cards_per_row == '1'  %}
            768: {
              slidesPerView: 2,
              spaceBetween: 30,
              loop: true
            },
            {% unless cards_per_row == '2' %}
              992: {
                slidesPerView: 3,
                spaceBetween: 30,
                loop: true
              },
            {% endunless %}
          {% endunless %}
        }
      })

      document.removeEventListener("DOMContentLoaded", initSwiperAllExp{{ block_id | remove: 'block-' }})
    }

    document.addEventListener("DOMContentLoaded", initSwiperAllExp{{ block_id | remove: 'block-' }})
  </script>
{% endif %}
