---
attributes:
  Center_Text:
    group: layout
    label: Align text to the centre
    type: Boolean
  Full_Screen_Height:
    group: layout
    label: Increase block size to full screen
    type: Boolean
  Auto_Scroll:
    group: design
    label: Enable autoplay on carousel
    type: Boolean
    default: True
  Hide_Arrows:
    group: design
    label: Hide arrow buttons on carousel
    type: Boolean
  Swiper_Arrows_Color:
    group: design
    label: Carousel arrow colour
    type: color
    default:
      palette: primary
  slides:
    type: hero_slide
    label: Slides
    hint: Recommended minimum width of background images 1920px.
    array: true
    default:
      - title: Make your moments stand out
        text: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        cta_text: Learn More
        background_image:
        asset: images/footsteps.jpg
      - title: Make your moments stand out
        text: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        cta_text: Learn More
        background_image:
        asset: images/bay.jpg
      - title: Make your moments stand out
        text: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        cta_text: Learn More
        background_image:
        asset: images/cliff.jpg
---

{% assign block_id = block.id %}

<style>
  #{{ block.id }} .hero-swiper-container {
    min-height: 28rem;
  }

  #{{ block.id }} .hero-swiper-header {
    max-width: 65rem;
  }

  #{{ block.id }} .hero-swiper-text {
    max-width: 45rem;
  }

  #{{ block.id }} .hero-swiper .swiper-controls {
    bottom: 0;
    right: 0;
    padding: 1rem;
    z-index: 2;
  }

  @media (max-width: 767.98px) {
    #{{ block.id }} .hero-swiper .swiper-controls svg {
      width: 30px;
      height: 30px;
    }

    #{{ block.id }} .hero-swiper .swiper-pag {
      display: none;
    }
  }

  #{{ block.id }} .swiper-pag {
    {% if Swiper_Arrows_Color %}
      color: {{ Swiper_Arrows_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} svg circle,
  #{{ block.id }} svg path {
    {% if Swiper_Arrows_Color %}
      stroke: {{ Swiper_Arrows_Color.hex }};
    {% endif %}
  }

  {% for slide in slides %}
    #{{ block.id }} .card-{{ forloop.index }} {
      {% if slide.background_image %}
        background-image: url('{{ slide.background_image.xxlarge_url }}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      {% endif %}
      {% if slide.text_color %}
        color: {{ slide.text_color }};
      {% else %}
        color: #fff;
      {% endif %}
      {% if slide.background_color %}
        background-color: {{ slide.background_color }};
      {% endif %}
      {% if Full_Screen_Height %}
        min-height: calc(100vh - var(--menu-height));
      {% endif %}
    }

    #{{ block.id }} .btn-{{ forloop.index }} {
      {% if slide.button_text_color %}
        color: {{ slide.button_text_color }} !important;
      {% endif %}
      {% if slide.button_background_color %}
        border: solid 1px {{ slide.button_background_color }} !important;
        background-color: {{ slide.button_background_color }} !important;
      {% endif %}
    }
  {% endfor %}
</style>

<section class="genie-block hero-swiper py-0">
  <div class="swiper-container hero-swiper-container">
    {% unless Hide_Arrows %}
      <div class="swiper-controls align-items-center justify-content-center d-flex position-absolute">
        <div class="swiper-prev hero-swiper-prev cursor-pointer mr-1 mr-md-0">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" transform="rotate(-180 20 20)"/>
            <path d="M22 26.6667L16.6667 20.3333L22 14"/>
          </svg>
        </div>

        <div class="swiper-pag hero-swiper-pagination text-center label-big w-auto px-3"></div>

        <div class="swiper-next hero-swiper-next cursor-pointer ml-1 ml-md-0">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5"/>
            <path d="M18 14L23.3333 20.3333L18 26.6667"/>
          </svg>
        </div>
      </div>
    {% endunless %}

    <div class="swiper-wrapper">
      {% for slide in slides %}
        <div class="swiper-slide">
          <div class="card-{{ forloop.index }} hero-swiper-container container-fluid px-md-5 d-flex flex-column {% if Center_Text %}justify-content-center{% else %}justify-content-end{% endif %}">
            <div class="hero-swiper-inner py-4 py-md-5 {% if Center_Text %}d-flex flex-column align-items-center text-center{% endif %}">
              {% if slide.title %}
                <h1 class="{% if slide.text %}mb-3 {% endif %}hero-swiper-header w-100">
                  {{ slide.title }}
                </h1>
              {% endif %}

              {% if slide.text %}
                <div class="text-big text-field hero-swiper-text w-100">
                  {{ slide.text }}
                </div>
              {% endif %}

              {% if slide.cta_text %}
                <a class="btn-{{ forloop.index }} button button-primary-solid mt-4"{% if slide.cta_link %} href="{{ slide.cta_link }}" {% endif %}>
                  {{ slide.cta_text }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  var initSwiperHeroVideo{{ block_id | remove: 'block-' }} = () => {
    if(window.swiperHeroVideo{{ block_id | remove: 'block-' }}) window.swiperHeroVideo{{ block_id | remove: 'block-' }}.destroy()

    window.swiperHeroVideo{{ block_id | remove: 'block-' }} = new Swiper('#{{ block.id }} .swiper-container', {
      slidesPerView: 1,
      spaceBetween: 0,
      updateOnWindowResize: true,
      loop: true,
      pagination: {
        el: '#{{ block.id }} .swiper-pag',
        type: 'fraction',
      },
      simulateTouch: false,
      {% if Auto_Scroll %}
        autoplay: {
          delay: 5000,
        },
      {% endif %}
      navigation: {
        nextEl: '#{{ block.id }} .swiper-next',
        prevEl: '#{{ block.id }} .swiper-prev',
      }
    })

    document.removeEventListener("DOMContentLoaded", initSwiperHeroVideo{{ block_id | remove: 'block-' }})
  }

  document.addEventListener("DOMContentLoaded", initSwiperHeroVideo{{ block_id | remove: 'block-' }})
</script>
