---
attributes:
  Background_Image:
    group: design
    label: Background image
    hint: Recommended minimum width 1920px.
    type: Image
  Mobile_Background_Image:
    type: image
    label: Mobile background image
    hint: Override background image on mobiles and tablets. Recommended minimum width 960px.
    group: mobile
  Background_Color:
    group: design
    label: Background colour
    type: color
  Text_Color:
    group: design
    label: Text colour
    type: color
    default:
      palette: body-color
  Header:
    group: content
    label: Header
    type: String
    default: Make your moments stand out
  Text:
    group: content
    label: Text
    type: Text
    default: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
  Small_Videos:
    group: layout
    label: Reduce size of videos
    type: Boolean
  padding_top:
    group: design
    label: Block padding top
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
  padding_bottom:
    group: design
    label: Block padding bottom
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
  iframe_codes:
    group: content
    label: Insert videos' iframe
    hint: "[Learn more](https://support.easol.com/hc/en-gb/articles/4405191147665)."
    type: String
    array: true
    default: ["<iframe src='https://player.vimeo.com/video/501854345' width='640' height='360' frameborder='0' allow='autoplay; fullscreen' allowfullscreen></iframe>", "<iframe src='https://player.vimeo.com/video/501854345' width='640' height='360' frameborder='0' allow='autoplay; fullscreen' allowfullscreen></iframe>", "<iframe src='https://player.vimeo.com/video/501854345' width='640' height='360' frameborder='0' allow='autoplay; fullscreen' allowfullscreen></iframe>"]
---

{% assign block_id = block.id %}

<style>
  #{{ block.id }} .video-swiper .swiper-slide-prev,
  #{{ block.id }} .video-swiper .swiper-slide-next {
    opacity: 0.2;
  }

  #{{ block.id }} .video-swiper iframe {
    width: 100% !important;
    height: 100% !important;
  }

  #{{ block.id }} .block-container {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if Background_Image %}
      background-image: url('{{ Background_Image.xxlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
    {% if Background_Color %}
      background-color: {{ Background_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .swiper-pag {
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .swiper-prev svg circle,
  #{{ block.id }} .swiper-prev svg path,
  #{{ block.id }} .swiper-next svg circle,
  #{{ block.id }} .swiper-next svg path {
    {% if Text_Color %}
      stroke: {{ Text_Color.hex }};
    {% endif %}
  }

  {% if Mobile_Background_Image %}
    @media (max-width: 767px) {
      #{{ block.id }} .block-container {
        background-image: url('{{ Mobile_Background_Image.large_url }}');
      }
    }
  {% endif %}
</style>

<section class="block-container video-swiper">
  <div class="container-fluid px-md-0">
    {% if Header %}
      <h2 class="text-center {% if Text %}mb-4{% else %}mb-5{% endif %}">
        {{ Header }}
      </h2>
    {% endif %}

    {% if Text %}
      <div class="mb-5 text-center max-width-med mx-auto text-field">
        {{ Text }}
      </div>
    {% endif %}

    {% if iframe_codes.size > 1 %}
      <div class="swiper-controls align-items-center justify-content-center mb-5 d-flex">
        <div class="swiper-prev video-swiper-prev cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" transform="rotate(-180 20 20)"/>
            <path d="M22 26.6667L16.6667 20.3333L22 14"/>
          </svg>
        </div>

        <div class="swiper-pag video-swiper-pagination text-center label-big w-auto px-4"></div>

        <div class="swiper-next video-swiper-next cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5"/>
            <path d="M18 14L23.3333 20.3333L18 26.6667"/>
          </svg>
        </div>
      </div>
    {% endif %}

    <div class="swiper-container video-swiper-container">
      <div class="swiper-wrapper">
        {% for iframecode in iframe_codes %}
          <div class="swiper-slide">
            <div class="video-swiper-card">
              <div class="img-aspect img-aspect-video">
                <div class="iframe-container">
                  {{ iframecode }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
  var initSwiperVideo{{ block_id | remove: 'block-' }} = () => {
    if(window.swiperVideo{{ block_id | remove: 'block-' }}) window.swiperVideo{{ block_id | remove: 'block-' }}.destroy()

    window.swiperVideo{{ block_id | remove: 'block-' }} = new Swiper('#{{ block.id }} .swiper-container', {
      slidesPerView: 1,
      spaceBetween: 10,
      updateOnWindowResize: true,
      autoHeight: true,
      simulateTouch: false,
      pagination: {
        el: '#{{ block.id }} .swiper-pag',
        type: 'fraction',
      },
      navigation: {
        nextEl: '#{{ block.id }} .swiper-next',
        prevEl: '#{{ block.id }} .swiper-prev',
      },
      breakpoints: {
        768: {
          slidesPerView: 1.5,
          spaceBetween: 40,
          centeredSlides: true,
          {% if iframe_codes.size > 1 %}loop: true{% endif %}
        },
        992: {
          slidesPerView: {% if Small_Videos %}2.5{% else %}1.5{% endif %},
          spaceBetween: 50,
          centeredSlides: true,
          {% if iframe_codes.size > 1 %}loop: true{% endif %}
        },
      }
    })

    document.removeEventListener("DOMContentLoaded", initSwiperVideo{{ block_id | remove: 'block-' }})
  }

  document.addEventListener("DOMContentLoaded", initSwiperVideo{{ block_id | remove: 'block-' }})
</script>
