---
attributes:
  Background_Image:
    group: design
    label: Background image
    hint: Recommended minimum width 1920px.
    type: Image
  Mobile_Background_Image:
    type: image
    label: Mobile background image
    hint: Override background image on mobiles and tablets. Recommended minimum width 960px.
    group: mobile
  Background_Color:
    group: design
    label: Background colour
    type: color
  Text_Color:
    group: design
    label: Text colour
    type: color
    default:
      palette: body-color
  Box_Background_Image:
    group: design
    label: Box background image
    hint: Recommended minimum width 1140px.
    type: Image
  Box_Background_Color:
    group: design
    label: Box background colour
    type: color
    default:
      palette: secondary
  Subheader_Color:
    group: design
    label: Subtitle colour
    type: color
    default:
      palette: primary
  Button_Color:
    group: design
    label: Button colour
    type: color
    default:
      r: 255
      g: 255
      b: 255
  Subheader:
    group: content
    label: Subtitle
    type: String
    default: Creating experiences is an art
  Header:
    group: content
    label: Header
    type: String
    default: Make your moments stand out
  Text:
    group: content
    label: Text
    type: Text
    default: <p>Whether you’re launching a new idea to share your passion with the world, or maybe you’re taking your business to the next level. No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
  Image:
    group: content
    label: Poster image
    hint: Recommended minimum width 1140px.
    type: Image
    default:
      asset: images/poster-2.jpg
  Show_Button:
    group: content
    label: Display button
    hint: Opens poster in a large lightbox.
    type: Boolean
    default: true
  Button_Text:
    group: content
    label: Button text
    type: String
    default: VIEW POSTER
  padding_top:
    group: design
    label: Block padding top
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
  padding_bottom:
    group: design
    label: Block padding bottom
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
---

<style>
  #{{ block.id }} .text-poster {
    z-index: -1;
  }

  #{{ block.id }} .text-poster-bg-fade {
    opacity: 0.1;
    top: 0;
    width: calc(100% - 30px);
    z-index: -1;
  }

  #{{ block.id }} .text-poster .text-overlay {
    z-index: 1;
  }

  #{{ block.id }} .text-poster .poster-col {
    overflow-y: hidden;
  }

  #{{ block.id }} .text-poster .poster-col img {
    max-height: 28rem;
    object-fit: contain;
    margin-bottom: -2rem;
  }

  #{{ block.id }} .text-poster .poster-col .view-gallery-button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
  }

  #{{ block.id }} .block-container {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if Background_Image %}
      background-image: url('{{ Background_Image.xxlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
    {% if Background_Color %}
      background-color: {{ Background_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .subheader {
    {% if Subheader_Color %}
      color: {{ Subheader_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .bg-box {
    {% if Box_Background_Color %}
      background-color: {{ Box_Background_Color.hex }} !important;
      opacity: 1 !important;
    {% endif %}
    {% if Box_Background_Image %}
      background-image: url('{{ Box_Background_Image.xxlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1 !important;
    {% endif %}
  }

  #{{ block.id }} .view-gallery-button {
    {% if Button_Color %}
      color: {{ Button_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .view-gallery-button circle,
  #{{ block.id }} .view-gallery-button path {
    {% if Button_Color %}
      stroke: {{ Button_Color.hex }};
    {% endif %}
  }

  {% if Mobile_Background_Image %}
    @media (max-width: 767px) {
      #{{ block.id }} .block-container {
        background-image: url('{{ Mobile_Background_Image.large_url }}');
      }
    }
  {% endif %}
</style>

<section class="block-container text-poster">
  <div class="container position-relative text-overlay">
    <div class="px-3 px-md-4 px-lg-5 pt-3 pt-md-4 pt-xl-5 pb-0">
      <div class="row mx-0 ">
        <div class="col-md-6 mt-4 mt-md-3 mt-lg-0 mb-5 mb-md-5 mb-xl-5 d-flex flex-column justify-content-center">
          {% if Subheader %}
            <p class="subheader label-big text-primary mb-4">
              {{ Subheader }}
            </p>
          {% endif %}

          {% if Header %}
            <h2 class="mb-4">
              {{ Header }}
            </h2>
          {% endif %}

          {% if Text %}
            <div class="text-field">
              {{ Text }}
            </div>
          {% endif %}
        </div>

        <div class="col-md-6 poster-col text-center">
          {% if Image.url %}
            <a class="gallery-img d-flex align-items-end" href="{{ Image.xxlarge_url }}">
              <img class="w-100 h-100" src="{{ Image.medium_url }}" alt="{{ Image.name }}" />
            </a>
          {% endif %}

          {% if Image.url and Show_Button %}
            <div class="mb-5 text-center d-flex align-items-center justify-content-center cursor-pointer view-gallery-button {% if Button_White %}text-white{% endif %}">
              <p class="button mr-2">
                {{ Button_Text }}
              </p>

              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="14.5"/>
                <path d="M13.5 10.5L17.5 15.25L13.5 20"/>
              </svg>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="bg-box position-absolute h-100 bg-primary text-poster-bg-fade"></div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var $gallery{{ block.id | remove: '-' }} = new SimpleLightbox('#{{ block.id }} .gallery-img', {
      showCounter: false,
    });

    $('#{{ block.id }} .view-gallery-button').click(function () {
      $gallery{{ block.id | remove: '-' }}.open();
    });
  });
</script>
