---
attributes:
  cards_per_row:
    group: layout
    label: Number of lineup cards per row
    type: range
    min: 2
    max: 4
    step: 1
    default: 4
    unit: cards
  Show_Cards_In_A_Swiper:
    group: layout
    label: Display cards in a carousel
    type: Boolean
  Center_Incomplete_Rows:
    group: layout
    label: Align cards to the centre
    type: Boolean
  Background_Image:
    group: design
    label: Background image
    hint: Recommended minimum width 1920px.
    type: Image
  Mobile_Background_Image:
    type: image
    label: Mobile background image
    hint: Override background image on mobiles and tablets. Recommended minimum width 960px.
    group: mobile
  Background_Color:
    group: design
    label: Background colour
    type: color
  Text_Color:
    group: design
    label: Text colour
    type: color
    default:
      palette: body-color
  Button_Color:
    group: design
    label: Button colour
    type: color
    default:
      palette: primary
  Card_Background_Image:
    group: design
    label: Card background image
    hint: Recommended minimum width 720px.
    type: Image
  Card_Background_Color:
    group: design
    label: Card background colour
    type: color
    default:
      palette: secondary
  Card_Text_Color:
    group: design
    label: Card text colour
    type: color
    default:
      palette: body-color
  Card_Button_Color:
    group: design
    label: Card button colour
    type: color
    default:
      palette: primary
  Show_Round_Images:
    group: layout
    label: Display round images
    type: Boolean
    default: true
  padding_top:
    group: design
    label: Block padding top
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
  padding_bottom:
    group: design
    label: Block padding bottom
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
  Subheader:
    group: content
    label: Subtitle
    type: String
    default: Add a subtitle
  Header:
    group: content
    label: Header
    type: String
    default: Make your moments stand out
  Text:
    group: content
    label: Text
    type: Text
    default: <p>Whether you’re launching a new idea to share your passion with the world, or maybe you’re taking your business to the next level. No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
  Show_Bio_Popups:
    group: content
    label: Activate popups
    hint: Customers will be able to click on the lineup cards to read more information about each guest in the lineup.
    type: Boolean
    default: true
  Popup_Button_Text:
    group: content
    label: Popup button text
    type: String
    default: VIEW
  Show_Button_Above_Cards:
    group: content
    label: Display button above cards
    type: Boolean
    default: true
  Show_Button_Below_Cards:
    group: content
    label: Display button below cards
    type: Boolean
  Button_Text:
    group: content
    label: Button text
    type: String
    default: LEARN MORE
  Button_Link:
    group: content
    label: Button link
    type: link
  cards:
    type: lineup_card
    label: Lineup cards
    hint: Recommended minimum width of images 720px.
    array: true
    default:
      - name: Name
        role: Role
        description: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        image:
          asset: images/person-3.jpg
      - name: Name
        role: Role
        description: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        image:
          asset: images/person-2.jpg
      - name: Name
        role: Role
        description: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        image:
          asset: images/person-7.jpg
      - name: Name
        role: Role
        description: <p>No matter what you are building – carefully craft every moment of your story online. Brands built with love are the ones that stand out.</p>
        image:
          asset: images/person-1.jpg
---

{% assign block_id = block.id %}

<style>
  {% if Show_Round_Images %}
    #{{ block.id }} .lineup-block .card-image {
      border-radius: 50%;
    }

    #{{ block.id }} .lineupPopup img {
      border-radius: 50%;
    }
  {% endif %}

  #{{ block.id }} .lineupPopup {
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
    overflow-y: auto;
  }

  #{{ block.id }} .lineupPopup .lineupPopup-inner {
    max-width: 60rem;
  }

  .lineupPopup-{{ block.id }}-open .lineupPopup-{{ block.id }} {
    display: flex !important;
  }

  #{{ block.id }} .lineupPopup .closePopLineupcontainer {
    right: 0;
    top: 0;
  }

  {% if Show_Bio_Popups %}
    #{{ block.id }} .lineup-card {
      cursor: pointer;
    }
  {% endif %}

  #{{ block.id }} .block-container {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if Background_Image %}
      background-image: url('{{ Background_Image.xxlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
    {% if Background_Color %}
      background-color: {{ Background_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .button-primary-outline {
    {% if Button_Color %}
      color: {{ Button_Color.hex }} !important;
      border: solid 1px {{ Button_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .swiper-pag {
    {% if Text_Color %}
      color: {{ Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .swiper-prev svg circle,
  #{{ block.id }} .swiper-prev svg path,
  #{{ block.id }} .swiper-next svg circle,
  #{{ block.id }} .swiper-next svg path {
    {% if Text_Color %}
      stroke: {{ Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .lineup-card {
    {% if Card_Background_Image %}
      background-image: url('{{ Card_Background_Image.xlarge_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Card_Text_Color %}
      color: {{ Card_Text_Color.hex }} !important;
    {% endif %}
    {% if Card_Background_Color %}
      background-color: {{ Card_Background_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .lineup-card .hover-arrow-right {
    {% if Card_Button_Color %}
      color: {{ Card_Button_Color.hex }} !important;
    {% elsif Card_Text_Color %}
      color: {{ Card_Text_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .lineup-card .hover-arrow-right circle,
  #{{ block.id }} .lineup-card .hover-arrow-right path {
    {% if Card_Button_Color %}
      stroke: {{ Card_Button_Color.hex }};
    {% elsif Card_Text_Color %}
      stroke: {{ Card_Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .popup-content {
    {% if Card_Background_Image %}
      background-image: url('{{ Card_Background_Image.large_url }}');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    {% endif %}
    {% if Card_Text_Color %}
      color: {{ Card_Text_Color.hex }} !important;
    {% endif %}
    {% if Card_Background_Color %}
      background-color: {{ Card_Background_Color.hex }} !important;
    {% endif %}
  }

  #{{ block.id }} .closePop circle {
    {% if Card_Button_Color %}
      fill: {{ Card_Button_Color.hex }};
    {% elsif Card_Text_Color %}
      fill: {{ Card_Text_Color.hex }};
    {% endif %}
  }

  #{{ block.id }} .closePop path {
    {% if Card_Background_Color %}
      stroke: {{ Card_Background_Color.hex }};
    {% endif %}
  }

  {% if Mobile_Background_Image %}
    @media (max-width: 767px) {
      #{{ block.id }} .block-container {
        background-image: url('{{ Mobile_Background_Image.large_url }}');
      }
    }
  {% endif %}
</style>

<section class="block-container lineup-{{ block.id }} lineup-block">
  <div class="container">
    {% if Header %}
      <h2 class="text-center {% if Text or Show_Button_Above_Cards %}mb-4{% else %}mb-5{% endif %}">
        {{ Header }}
      </h2>
    {% endif %}

    {% if Text %}
      <div class="{% if Show_Button_Above_Cards %}mb-4{% else %}mb-5{% endif %} text-center max-width-med mx-auto text-field">
        {{ Text }}
      </div>
    {% endif %}

    {% if Show_Button_Above_Cards %}
      <div class="mb-5 text-center">
        <a class="button button-primary-outline text-center" href="{{ Button_Link.url }}"{% if Button_Link.new_tab %} target="_blank" rel="noopener noreferrer"{% endif %}>
          {{ Button_Text }}
        </a>
      </div>
    {% endif %}

    {% if Show_Cards_In_A_Swiper %}
      <div class="swiper-controls align-items-center justify-content-center mb-5 d-flex">
        <div class="swiper-prev lineup-prev cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" transform="rotate(-180 20 20)"/>
            <path d="M22 26.6667L16.6667 20.3333L22 14"/>
          </svg>
        </div>

        <div class="swiper-pag lineup-pagination text-center label-big w-auto px-4"></div>

        <div class="swiper-next lineup-next cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5"/>
            <path d="M18 14L23.3333 20.3333L18 26.6667"/>
          </svg>
        </div>
      </div>
    {% endif %}

    <div class="{% if Show_Cards_In_A_Swiper %}lineup-container swiper-container{% endif %}">
      <div class="{% if Show_Cards_In_A_Swiper %}swiper-wrapper{% else %}row{% endif %} {% if Center_Incomplete_Rows and  Show_Cards_In_A_Swiper == false %}justify-content-center{% endif %}">
        {% for card in cards %}
          <div class="{% if Show_Cards_In_A_Swiper %}swiper-slide h-auto{% elsif cards_per_row == '1' %}col-12{% elsif cards_per_row == '2' %}col-md-6{% elsif cards_per_row == '3' %}col-md-6 col-lg-4{% else %}col-md-6 col-lg-3{% endif %} mb-4">
            <div class="lineup-card bg-secondary text-body p-3 p-md-4 h-100 d-flex flex-column">
              {% if card.image %}
                <div class="img-aspect mb-4">
                  <img class="card-image" src="{{ card.image.medium_url }}" {% if card.label %} alt="{{ card.label }}" {% endif %} />
                </div>
              {% endif %}

              <div class="text-center d-flex flex-column flex-fill">
                <div class="flex-fill">
                  <p class="label-small-uppercase mb-3 card-role">
                    {{ card.role }}
                  </p>

                  <h4 class="card-name">
                    {{ card.name }}
                  </h4>
                </div>

                <div class="d-none card-bio">
                  {{ card.description }}
                </div>

                {% if Show_Bio_Popups %}
                  <div>
                    <div class="label-small-uppercase hover-arrow-right text-center mt-3 text-primary">
                      <span>
                        {{ Popup_Button_Text }}
                      </span>

                      <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="14.5"/>
                        <path d="M13.5 10.5L17.5 15.25L13.5 20"/>
                      </svg>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if Show_Button_Below_Cards %}
      <div class="mt-5 text-center">
        <a class="button button-primary-outline text-center" href="{{ Button_Link.url }}"{% if Button_Link.new_tab %} target="_blank" rel="noopener noreferrer"{% endif %}>
          {{ Button_Text }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{% if Show_Cards_In_A_Swiper %}
  <script>
    var initSwiperLineup{{ block_id | remove: 'block-' }} = () => {
      if(window.swiperLineup{{ block_id | remove: 'block-' }}) window.swiperLineup{{ block_id | remove: 'block-' }}.destroy()

      window.swiperLineup{{ block_id | remove: 'block-' }} = new Swiper('#{{ block.id }} .swiper-container', {
        slidesPerView: 1,
        spaceBetween: 20,
        updateOnWindowResize: true,
        centerInsufficientSlides: true,
        simulateTouch: false,
        pagination: {
        el: '#{{ block.id }} .swiper-pag',
        type: 'fraction',
        },
        navigation: {
        nextEl: '#{{ block.id }} .swiper-next',
        prevEl: '#{{ block.id }} .swiper-prev',
        },
        breakpoints: {
          {% unless cards_per_row == '1'  %}
            576: {
              slidesPerView: 2,
              spaceBetween: 30,
              loop: true
            },
            {% unless cards_per_row == '2' %}
              768: {
                slidesPerView: 3,
                spaceBetween: 30,
                loop: true
              },
              {% unless cards_per_row == '3' %}
                992: {
                  slidesPerView: 4,
                  spaceBetween: 30,
                  loop: true
                },
              {% endunless %}
            {% endunless %}
          {% endunless %}
        }
      })

      document.removeEventListener("DOMContentLoaded", initSwiperLineup{{ block_id | remove: 'block-' }})
    }

    document.addEventListener("DOMContentLoaded", initSwiperLineup{{ block_id | remove: 'block-' }})
  </script>
{% endif %}

{% if Show_Bio_Popups %}
  <div class="popup-overlay lineupPopup lineupPopup-{{ block.id }} p-3 position-fixed w-100 vh-100 flex-column d-none">
    <div class="lineupPopup-inner mx-auto h-100 w-100 justify-content-center align-items-center d-md-flex flex-column">
      <div class="popup-content row bg-body-bg p-3 p-md-5 mx-0 w-100 position-relative">
        <div class="col-md-4 h-100 d-flex flex-column justify-content-center">
          <div class="img-aspect">
            <img class="card-image" id="image{{ block.id }}" src="" alt=" /" />
          </div>
        </div>

        <div class="col-md-8 py-3 py-md-0 d-flex flex-column justify-content-center">
          <p class="label-big text-uppercase mb-3" id="role{{ block.id }}">
            Role
          </p>

          <h3 class="mb-3" id="name{{ block.id }}">
            Name
          </h3>

          <div class="mb-4 text-field" id="bio{{ block.id }}">
            Bio
          </div>
        </div>

        <div class="position-absolute closePopLineupcontainer p-3">
          <div class="closePopLineup{{ block.id | remove: '-' }} closePop cursor-pointer ml-auto"
            onclick="closePopLineup{{ block.id | remove: '-' }}()">
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="14.5" cy="14.5" r="14.5"/>
              <path d="M9 9L20 20M20 9L9 20" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openlineupPopup{{ block.id | remove: '-' }} () {
      jQuery('body').addClass('popup-open-local');
      jQuery('body').addClass('lineupPopup-{{ block.id }}-open');
    }

    function closePopLineup{{ block.id | remove: '-' }} () {
      jQuery('body').removeClass('popup-open-local');
      jQuery('body').removeClass('lineupPopup-{{ block.id }}-open');
    };

    document.addEventListener('DOMContentLoaded', (event) => {
      $('.lineup-{{ block.id }} .lineup-card').click(function () {
        let artistName = $(this).find('.card-name').html();
        let artistRole = $(this).find('.card-role').html();
        let artistBio = $(this).find('.card-bio').html();
        let artistImage = $(this).find('.card-image').attr('src');

        $('#name{{ block.id }}').html(artistName);
        $('#role{{ block.id }}').html(artistRole);
        $('#bio{{ block.id }}').html(artistBio);

        if (artistImage) {
          $('#image{{ block.id }}').removeClass('d-none');
          $('#image{{ block.id }}').attr('src', artistImage);
        } else {
          $('#image{{ block.id }}').addClass('d-none');
        }

        openlineupPopup{{ block.id | remove: '-' }} ();
      })
    });
  </script>
{% endif %}
